{% load static %}

<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Phoenix-Project</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i&amp;display=swap">
    <link rel="stylesheet" href="{% static 'assets/css/baguetteBox.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/vanilla-zoom.min.css' %}">
</head>

{% if view_selectionne == 'index' %}
    <body>
{% else %}
    <body style="width: 100%;">
{% endif %}
    <nav class="navbar navbar-expand-lg fixed-top bg-body clean-navbar navbar-light">
        <div class="container"><a class="navbar-brand logo" href="#">Phoenix Health</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ms-auto">
                    {% if view_selectionne == 'index' %}
                        <li class="nav-item"><a class="nav-link active" href="">Accueil</a></li>
                        <li class="nav-item"><a class="nav-link" href="">Mental Form</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="">Accueil</a></li>
                        <li class="nav-item"><a class="nav-link active" href="">Mental Form</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    {% block content %}

    {% endblock %}
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/baguetteBox.min.js' %}"></script>
    <script src="{% static 'assets/js/vanilla-zoom.js' %}"></script>
    <script src="{% static 'assets/js/theme.js' %}"></script>
</body>

</html>