{% extends "base.html" %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% block content %}
    <main class="page contact-us-page">
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Mental Form</h2>
                    <p>Ce formulaire a pour objectif d'évaluer votre bien être avec votre consommation actuelle de musique</p>
                </div>
                <form action="" method="post" novalidate>
                    {% csrf_token %}
                    {% bootstrap_field form.FirstName %}
                    {% bootstrap_field form.LastName %}
                    {% bootstrap_field form.Email %}
                    {% bootstrap_field form.Age %}
                    {% bootstrap_field form.Pays_de_residence %}
                    <hr>
                    {% bootstrap_field form.Genre_preferer %}
                    {% bootstrap_field form.Heure_ecoute %}
                    {% bootstrap_field form.Paroles %}
                    <hr>
                    {% bootstrap_field form.Anxiety_evaluation %}
                    {% bootstrap_field form.Depression_evaluation %}
                    {% bootstrap_field form.insomnia_evaluation %}
                    {% bootstrap_field form.OCD_evaluation %}
                    <button type="submit" class="btn btn-primary btn-sm">
                        Envoyer
                    </button>
                </form>
            </div>
        </section>
    </main>
{% endblock %}