{% extends "base.html" %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% block content %}
    <main class="page contact-us-page">
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Mental Form</h2>
                    <p>Ce formulaire a pour objectif d'évaluer votre bien être avec votre consommation actuelle de musique</p>
                </div>
                <form action="" method="post" novalidate>
                    {% csrf_token %}
                    {% bootstrap_field form.surname %}
                    {% bootstrap_field form.lastname %}
                    {% bootstrap_field form.email %}
                    {% bootstrap_field form.birthdate %}
                    {% bootstrap_field form.country %}
                    <hr>
                    {% bootstrap_field form.genre %}
                    {% bootstrap_field form.hoursperday %}
                    {% bootstrap_field form.foreign %}
                    <hr>
                    {% bootstrap_field form.anxiety %}
                    {% bootstrap_field form.depression %}
                    {% bootstrap_field form.insomnia %}
                    {% bootstrap_field form.ocd %}
                    <button type="submit" class="btn btn-primary btn-sm">
                        Envoyer
                    </button>
                </form>
            </div>
        </section>
    </main>
{% endblock %}